body{
    background-color: grey;
    color: gold;
}

.form-group{
    color:black;
}

.display{
    color:grey;
}
.btn-primary{
    color:black
}
.btn-danger{
    color: black;
}

label{
    color: gold;
}

.p{
    color: gold;
}

.card{
    background-color: black;
    border-radius: 10px;
    
}